.App {
    font-family: sans-serif;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
    background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
    border-radius: 2em;
    background: linear-gradient(-45deg, #737373, #4f4f4f, #a1a0a1, #afadae);
}